{% extends "layout.twig" %}

{% block content %}
   <h1>Dashboard</h1>

   <ul>
        <li><a href="/user/add" > Add User</li>
        <li><a href="/employee/add" > Add Employee</li>
   </ul>
   <br>
   
   {#redirecciona a un map de index.php, no a una pagina, eso da el
   acceso a la funcion#}
   <a href="/logout" >Logout</a>
{% endblock %}
